<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel = "tests" name="All Test Suite">
    <listeners>
        <listener class-name="testComponents.Listners"></listener>
    </listeners>
    <test thread-count="2" verbose="2" preserve-order="true" name="Login page error validations test">
    <classes>
            <class name="testComponents.tests.ErrorValidationsTest">
                <methods>
                    <include name="errorValTest"/>
                </methods>
            </class>
    </classes>
    </test>
    <test thread-count="2" verbose="2" preserve-order="true" name="Submit Order test">
        <classes>
            <class name="testComponents.tests.SubmitOrderTest">
                <methods>
                    <include name="submitOrderTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>